# Compiled object files
*.slo
*.lo
*.o

*.exe

# Compiled dynamic libraries
*.so

# Compiled static libraries
*.lai
*.la
*.a

# Visual Studio files
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.sdf
*.suo
ipch/
Debug/
Release/

# Vim
*.swp
